<div class="main" style="background-image: url('../../../assets/images/restaurant.jpg')">

    <!--    Change the image source '/images/restaurant.jpg')" with your favourite image.     -->
        
        <div class="cover black" data-color="black"></div>
         
    <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->
    
        <div class="container">
            <h1 class="logo cursive">
                Meteorologia
            </h1>
    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
            
            <div class="content">
                <h4 class="motto">Veja aqui as informações de tempo da sua capital</h4>
                <div class="subscribe">
                    <!-- <h5 class="info-text">
                        Join the waiting list for the beta. We keep you posted. 
                    </h5> -->
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                            <form class="form-inline" role="form">
                              <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <input type="search" class="form-control transparent" placeholder="Digite sua capital">
                              </div>
                              <button type="submit" class="btn btn-warning btn-fill">Procurar</button>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

     